body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.app {
  display: flex;
}
.container{
  flex: 1;
}

.sidebar {
  width: 80px;
  background-color: #154462;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  align-items: center;
  text-align: center;
  margin: 35px 0;
}
.select-item{
  background-color: white;
  padding:8px 10px;
  border-radius: 5px;
}

.header {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  margin-bottom: 1%;
}
.header-ctn{
  display: flex;
  align-items: center;
  color: #154462;
  gap:15px
}
.header .wallet{
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.header .wallet span{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
}
.header .btn{
  font-size: 10px;
  color: #154462;
  border: 2px solid #154462;
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 5px;
  cursor: pointer;
}
.header .nostyle-btn{
  display: flex;
  align-items: center;
  font-size: 12px;
  border: none;
  background-color: transparent;
  padding: 0 25px;
  border-right: 1px solid #f2f2f2;
  gap: 5px;
  font-weight: 500;
  cursor: pointer;
}

.main-content {
  margin:0 2%;
}
.main-content .btn{
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.main-content .dropdown{
  gap:30px
}

.main-content .dropdown .options{
  display: flex;
  align-items:center;
  text-align:center;
  gap: 10px;
}

.round-container{
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 15px;
  margin: 1% 0;
  align-items: center;
}

.search-bar{
  display: flex;
  border: 1px solid rgba(21, 68, 98, 0.7);
  border-radius: 8px;
  align-items: center;
  padding: 0 15px;
  
}

.search-bar input{
  border: none;
  background-color: transparent;
  outline: none;
  padding:8px;
  width: 280px;
}

.order{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.order-filter-list{
  display: flex;
  gap:30px;
  align-items: center;
  justify-content: space-between;
}

.order-filter-list .btn{
  color: #154462;
}

.order-filter-list .selected-btn{
  border: 2px solid #154462;
  background-color: rgba(21, 68, 98, 0.1);
}

.orders-table {
  width: 100%;
  margin: 1% 0;
  font-size: 14px;
}

.grid-head-row{
  display: flex;
  color: grey;
  padding: 15px 0;
}

.grid-row{
  display: flex;
  padding: 15px 0;
  border:1px solid #e9e9e9;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
}


.grid-head, .grid-col{
  flex:1;
  text-align: center;
}

.status-col{
  color: green;
}

.order-bottom{
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.page-list{
  display: flex;
  gap: 8px;
  align-items: center;
}

.page-list p {
  padding:5px
}

.page-list .selected-page{
  background-color:#154462;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 9px;
}


